@import '../../../styles/settings.scss';

.root {
  border: 1px dotted black;

  .head {
    padding: 0 20px;
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // Button {
    //   justify-content: flex-end;
    // }
  }

  p {
    padding: 0 20px 20px 20px;
    margin: 0;
  }
}
