@import '../../../styles/settings.scss';

.root {
  border: 1px dotted black;
  margin: 20px;
  padding: 0 20px;

  .content {
    .head {
      width: 100%;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .text {
      margin: 0;
    }
  }

  .dates,
  .contact {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;

    div {
      margin: 10px;

      h4,
      p {
        margin: 10px;
        display: inline;
      }
    }
  }
}
