@import '../../../styles/settings.scss';

.root {
  div {
    .postAdd {
      width: 40%;
      margin: auto;
      border: 1px dotted black;
      border-radius: 4px;

      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        position: absolute;
        display: inline-block;
        margin: 10px;
        top: 13px;
        left: -45px;
      }

      p {
        display: inline-block;
      }
    }

    .announcements {
      .announcement {
        margin: 20px 0;
      }
    }
  }
}
